#contact iframe
{
    width: 100%;
}
.cricket_head
     {
         font-size: 20px;
         padding: 6px 22px ;
         border-radius: 10px;
         margin-bottom: 15px;
     }
     .cricket_head i 
     {
         float: right;

     }
     .cricket_text span
     {
         color:orange;
     }
     
     .football_head
     {
         font-size: 20px;
         padding: 6px 22px ;
         border-radius: 10px;
         margin-bottom: 15px;
     }
     .football_head i 
     {
         float: right;

     }
     .football_text span
     {
         color:orange;
     }
     
